@import "~@fontsource/lato";

.FirstTab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.upload-container {
    width: 800px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0.5rem auto;
    border: 1px solid white;
    border-radius: 2rem;
    transition: 0.2s box-shadow, 0.2s background-color;
    box-shadow: 0 10px 40px -30px rgba(black, 0.2);
    font-family: "Lato";

}


.upload-container:hover {

    background-color: #77a59fa4;
    box-shadow: 0 20px 60px -30px rgba(#616161, 1);
}

.title {
    margin-top: 70px;
    transition: 0.2s color;
    text-align: center;
    font-size: 20px;

}

.upload-icon {
    height: 100px;
    width: 100px;
}


.paragraf {
    font-family: "Lato";
    font-size: 12px;
    transition: 0.2s color;
    text-align: center;
    color: #C6F985;
    padding: 1px;
}

.paragraf-1 {
    font-family: "Lato";
    font-size: 12px;
    transition: 0.2s color;
    text-align: center;
    color: #ffffff;
    padding: 1px;
}

.text-type-image {
    position: fixed;

}

.dropdowns {
    margin: 50px;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
}

.dropdown, .btn-div {
    padding: 20px
}

.preview {
    display: flex;
    flex-direction: column;

}

.preview-image {
    width: 550px;
    height: auto;
    padding: 10px;
}

.preview-container {
    width: 1100px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0.5rem auto;
    transition: 0.2s box-shadow, 0.2s background-color;
    box-shadow: 0 10px 40px -30px rgba(black, 0.2);
    font-family: "Lato";

}

.preview-box {
    display: flex;
    flex-direction: row;
    width: 1000px;
    min-height: 350px;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.image-text {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.dropdown-menu {
    max-width: 100px;
}

.dropdown-item {
    background-color: white;

}

.dropdown-item>div {
    color: black;
}

.dropdown-item:hover {
    background-color: rgb(95, 85, 85);
}

.dropdown-item>div :hover {
    color: rgb(32, 28, 28);
}

#dropdown-item-button {
    width: 160px;
}

.btn {
    width: 160px;
}