[type=radio] {
    display: none;
}

.sliderFlex {
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
}

#slider {
    height: 480px;
    width: 900px;
    margin: 0 auto;

    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-right: 100px;
    display: flex;
}

.arrow-left {
    margin-right: 100px;
}

.arrow-right {
    margin-left: 20px;
}

#slider label {
    margin: auto;
    background-color: aliceblue;
    width: 60%;
    height: 100%;

    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}


#s1:checked~#slide3, #s2:checked~#slide1,
#s3:checked~#slide2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-50%, 0, -100px);
   
}

#s1:checked~#slide1, #s2:checked~#slide2,
#s3:checked~#slide3 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
    width: 720px !important;
height: 486px !important;
    
}

#s1:checked~#slide2, #s2:checked~#slide3,
#s3:checked~#slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(50%, 0, -100px);
}

.switch-box>div>div>div>svg {
    display: none;
}

.switch-box {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    margin-top: 20px;
}

.switch-box>.switch-label {
    font-size: 15px;
    padding: 0 20px;
}

.row-btn {
    display: flex;
    flex-direction: row;
    border: 1px transparent;
    margin-bottom: 5px;
}

#button1:active {
    background-color: aliceblue;
}

#first, #second, #third {
    min-width: 160px;
    color: rgb(216, 204, 189);
}

#first:hover, #second:hover, #third:hover {
    background-color: grey;
    color: white;
}

.showcase__button__group{
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.showcase__button__group__disabled{
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    opacity: 0.4;
}

.showcase__button{
    width: 100px;
height: 24px;
left: calc(50% - 100px/2 - 106px);
top: calc(50% - 24px/2);

background: rgba(255, 255, 255, 0);

display: flex;
flex-direction: row;
border: none;

}

.showcase__button__active{
    width: 100px;
    height: 24px;
    left: calc(50% - 100px/2 - 106px);
    top: calc(50% - 24px/2);
    
    background: rgba(251, 251, 251, 0.4);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    border: none;
}

.showcase__button:active{
    background: rgba(251, 251, 251, 0.4);
    border-radius: 4px;
}

.showcase__button__disabled{
    width: 100px;
    height: 24px;
    left: calc(50% - 100px/2 - 106px);
    top: calc(50% - 24px/2);
    
    background: rgba(251, 251, 251, 0.4);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    border: none;
    opacity: 0.2;
}



/* .showcase__button:active{
    opacity: 0.7;
} */

.showcase__button__span{
    width: 100%;
height: 10px;
left: calc(50% - 49px/2 + 1.5px);
top: calc(50% - 10px/2 - 1px);

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 82.03%;
/* identical to box height, or 10px */

display: flex;
align-items: center;
text-align: center;

/* White */

color: #FBFBFB;
}

#slide1, #slide2, #slide3{
    width: 400px !important;
height: 270px !important;
}
