[type=radio] {
    display: none;
}

.sliderFlex {
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
}

#slider {
    height: 480px;
    width: 900px;
    margin: 0 auto;

    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-right: 100px;
}

.arrow-left {
    margin-right: 100px;
}

.arrow-right {
    margin-left: 20px;
}

#slider label {
    margin: auto;
    background-color: aliceblue;
    width: 60%;
    height: 100%;

    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}


#s1:checked~#slide3, #s2:checked~#slide1,
#s3:checked~#slide2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-50%, 0, -100px);
}

#s1:checked~#slide1, #s2:checked~#slide2,
#s3:checked~#slide3 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2, #s2:checked~#slide3,
#s3:checked~#slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(50%, 0, -100px);
}

.switch-box>div>div>div>svg {
    display: none;
}

.switch-box {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.switch-box>.switch-label {
    font-size: 15px;
    padding: 0 20px;
}

.row-btn {
    display: flex;
    flex-direction: row;
    border: 1px transparent;
    margin-bottom: 5px;
}