.auth-body {
    background-color: black;
    min-height: 760px;
    min-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3px;
    border-radius: 10px;
    margin-top: 10px;
}


.form-control {
    margin: 5px 10px;
    max-width: 250px;
    text-align: left;
}

.btn-icon {
    height: 40px;
    width: 50px;

    margin-top: 2px;
}

.input-group {

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.small-label {
    font-size: 10px;
    text-align: left;
    margin-right: 120px;
    margin-top: 0;
}

.small-label-conf {
    font-size: 10px;
    text-align: left;
    margin-right: 70px;
    margin-top: 0;
}

.red-label {
    font-size: 12px;
    color: red;
    margin: 0;
    padding: 0;
}

.form-header-div {
    padding: 10px;
    color: white;
}


.prgf {
    color: white;
    font-size: 14px;
}

.btn-common-type {
    margin: 5px;
    border-radius: 2px;
    padding: 5px 20px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    background: #c6f985;
    color: #000;
    width: 100px;
    border: 1px solid rgb(163, 161, 161);
    min-height: 40px;
}

.btn {
    max-width: 260px;
}

.btn-common-type:hover {
    transition: all 0.2s ease-in-out;
    background-color: #bffc87c4;
    box-shadow: none;
}

.btn-common-type:disabled {
    transition: all 0.2s ease-in-out;
    color: #fff;
    background-color: grey;
    box-shadow: none;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -25px;
    margin-top: 4.5px;
    background-color: white;
    height: 36px;
    margin-right: 50px;
    z-index: 999;
}

.input-group, .group {
    margin-left: 20px;
}

.email-input {
    min-width: 280px;
}