.auth-body {
    background-color: black;
    min-height: 760px;
    min-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3px;
    border-radius: 10px;
    margin-top: 10px;
}

.form-control {
    margin: 5px 10px;
    max-width: 250px;
    text-align: left;
}

.btn-icon {
    height: 40px;
    width: 50px;

    margin-top: 2px;
}

.input-group {

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.small-label {
    font-size: 10px;
    text-align: left;
    margin-right: 120px;
    margin-top: 0;
}

.small-label-conf {
    font-size: 10px;
    text-align: left;
    margin-right: 70px;
    margin-top: 0;
}

.red-label {
    font-size: 12px;
    color: red;
    margin: 0;
    padding: 0;
}

.form-header-div {
    padding: 10px;
}