@import "~@fontsource/lato";
@import "~@fontsource/roboto";

* {

    font-family: "Lato";
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FBFBFB;

}

h1 {
    font-family: "Roboto";
}

.showcase-section {
    background-color: hsl(189, 86%, 16%);
    height: 900px;
    margin-top: 303px;
}

.showcase-header {
    padding: 40px 0 0 0;
}