.auth-body {
    background-color: black;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-control {
    margin: 10px 10px;
    max-width: 250px;
    text-align: left;
}

.email {
    margin-right: 18px;
}